.second-container {
  width: 100%;
}

.second-title {
  padding-top: 2rem;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.card-holder {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}
