.second-container {
  margin: 7rem 0;
  width: 100%;
}

.card-holder {
  margin: auto;
  width: 75%;
  max-width: 950px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

@media (max-width: 1200px) {
  .card-holder {
    width: 85%;
    gap: 2rem;
  }
}

@media (max-width: 800px) {
  .card-holder {
    grid-template-columns: 1fr;
    max-width: 480px;
  }
}
